body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-left: 10px;
  padding-right: 10px; */
  width: 100%;
  margin: auto;
}

.footer {    
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: center;

    flex-grow: p;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgb(236, 76, 52, 0.1);
  }

#root {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  /* margin: auto; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
 
  flex-grow: 1;
  flex-shrink: 0;
 
  width: 80%;
  /* justify-content: center; */
  margin: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 5em;
  padding-right: 5em;
  background-color: rgb(236, 76, 52, 0.1);
}
.header > ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.header > ul li {
  padding-right: 10px;
}
.header > a {
  display: flex;
  align-items: center;
}

a:link {
  color: rgb(60, 60, 148);
  text-decoration: dashed;
  font-weight: 200;
}
a:visited {
  color: rgb(25, 25, 88);
  font-size: small;
}

.portfolio-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.portfolio-total {
  color: rgb(236, 76, 52);
  font-size: x-small;
}


.logo {
  height: 20px;
  width: auto;
}

#transaction-logo {
  width: fit-content;
}


#logInHeader {
  color: rgb(45, 43, 87);
  text-align: center;
  text-transform: uppercase;
}
span.brandName {
  color: rgb(236, 76, 52);
}
#logInForm {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 6px;
  max-width: 300px;
  align-self: center;
  /* margin: auto; */
  grid-template-areas: 
  "username input"
  "password input"
  "footer footer";
}
#logInSubmit {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
  grid-area: footer;
  width: 100px;
  justify-self: center;
  margin-left: 12px;
  background: rgb(216, 214, 205);
}
#login-warning-text {
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  color: rgba(255, 0, 0, 0.576);
  font-size: 14px;
}


#globalH1 {
  color: rgb(45, 43, 87);
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  
}
th {
  max-width: 100%;
  

}

thead {
  outline: 1px solid rgb(45, 43, 87);
}
.table-row {
  border-radius: 5px;
  outline: 1px solid rgb(45, 43, 87, 0.5);
}
#transactionType, #coin {
  width: 100px;
}

.transaction-row {
  border-radius: 5px;
  outline: 1px solid rgba(45, 43, 87, 0.5);
}


.transaction-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0.5px solid rgb(45, 43, 87, 0.2);
  padding: 10px;
  max-width: 100%;
}

.transaction-form * {
  max-width: 80px;
  margin: 5px;
}

.transaction-submit {
  min-width: 120px;
}

#quantity, #MAX {
  width: 80px;
}

td#globalCoinName {
  width: 20px;
}
td a { 
  display: block; 
  width: 100%; 
  height: 100%;
  text-decoration: none;
}



.trend-up {
  color: green;
}
.trend-down {
  color: red;
}

.link-container {
  font-family: sans-serif, 'Segoe UI', 'Roboto', 'Oxygen';
  padding-left: 20px;
  border: 1px rgb(255, 255, 255) solid;
  width: fit-content;
  background-color: rgb(255, 255, 255);
}
.link-container > a {
  color: rgb(236, 76, 52);
  text-decoration: none;
  padding: 3px;
}
.link-container > a:hover, .new-transaction-button:hover {
  border: 1px rgb(45, 43, 87) solid;
  width: fit-content;
}

.new-transaction-button {
  color: rgb(236, 76, 52);
  background-color: white;
  border: none;
  width: fit-content;
  padding: 3px;
}



tbody {
  text-align: center;
}
.portfolio-display>tr>:nth-child(1) {
  text-align: left;
}

.coin-detail-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
}
select#otherCoinSelector {
  height: 20px;
  width: auto;
}


.autofill-container {
  width: 150px;
  height: auto;
}

.autofill-container p {
  margin-bottom: 0px;
  font-size: 14px;
  width: 160px;
}