body {
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display:flex;
  justify-content: space-between;
  align-content: center;
}


.header > ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.header > ul li {
  padding-right: 10px;
}

.header > a {
  display: flex;
  align-items: center;
}

.portfolio-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 15px;
  width: auto;
}

tbody {
  text-align: center;
}

tbody>tr>:nth-child(1) {
  text-align: left;
}

.trend-up {
  color: green;
}

.trend-down {
  color: red;
}