body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 10px;
  padding-right: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display:flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
}


.header > ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.header > ul li {
  padding-right: 10px;
}

.header > a {
  display: flex;
  align-items: center;
}

a:link {
  color: rgb(60, 60, 148);
  text-decoration: dashed;
  font-weight: 200;
}

a:visited {
  color: rgb(25, 25, 88);
  font-size: small;
}


.portfolio-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 20px;
  width: auto;
}

#logInHeader {
  color: rgb(45, 43, 87);
  text-align: center;
  text-transform: uppercase;
}

span.brandName {
  color: rgb(236, 76, 52);
}

#logInForm {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 6px;
  max-width: 300px;
  margin: auto;
  grid-template-areas: 
  "username input"
  "password input"
  "footer footer";
}
#logInSubmit {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
  grid-area: footer;
  width: 100px;
  justify-self: center;
  margin-left: 12px;
  background: rgb(216, 214, 205);
}

.portfolio-total {
  color: rgb(236, 76, 52);
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}
th {
  max-width: 100%;
}
tbody > tr {
  border-radius: 5px;
}
td#globalCoinName {
  width: 20px;
}
td a { 
  display: block; 
  width: 100%; 
  text-decoration: none;
}


.trend-up {
  color: green;
}

.trend-down {
  color: red;
}

.link-container {
  font-family: sans-serif, 'Segoe UI', 'Roboto', 'Oxygen';
  padding-left: 20px;
  border: 1px rgb(255, 255, 255) solid;
  width: fit-content;
  background-color: rgb(255, 255, 255);
}

.link-container > a {
  color: rgb(236, 76, 52);
  text-decoration: none;
  padding: 3px;
}

.link-container > a:hover {
  border: 1px rgb(45, 43, 87) solid;
  width: fit-content;
}

tbody {
  text-align: center;
}
.portfolio-display>tr>:nth-child(1) {
  text-align: left;
}

